{{> head}}
    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Conecta Go!</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/Conecta_Go_Mista_INPI_Preta_Roxa-01.svg" class="img-thumbnail">
        </div>
    </div>
{{> footer}}